@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');

@import url(footer.css);
@import url(section.css);
@import url(header.css);
body{
    width: 100vw;
    height: 100vh ;
    margin: 0;
    padding: 0;
    background-color:#EAEAE8;
}


/* 
        ##EEEEEC - cinza claro
        #0A0C0C - preto
        #C9011E - vermelho 
        #7D7C7F - cinza

    Fonte Principal - "Bebas Neue"
    Fonte Secundario - "Archivo Black"


*/
